Repository pagopa/pagopa-biz-events-service, pull requests merged in 2024-07, with the labels that each got.

#77 feat: [Pagopa-1799] - add filter
  helm/values-prod.yaml
  openapi/openapi.json
  openapi/openapi_ec.json
  openapi/openapi_helpdesk.json
  openapi/openapi_io.json
  openapi/openapi_io_patch.json
  src/main/java/it/gov/pagopa/bizeventsservice/controller/ITransactionController.java
  src/main/java/it/gov/pagopa/bizeventsservice/controller/impl/TransactionController.java
  src/main/java/it/gov/pagopa/bizeventsservice/exception/AppError.java
  src/main/java/it/gov/pagopa/bizeventsservice/model/filterandorder/Order.java
  src/main/java/it/gov/pagopa/bizeventsservice/repository/BizEventsViewUserRepository.java
  src/main/java/it/gov/pagopa/bizeventsservice/service/ITransactionService.java
  src/main/java/it/gov/pagopa/bizeventsservice/service/impl/TransactionService.java
  src/main/java/it/gov/pagopa/bizeventsservice/util/Util.java
  src/test/java/it/gov/pagopa/bizeventsservice/controller/TransactionControllerTest.java
  src/test/java/it/gov/pagopa/bizeventsservice/service/TransactionServiceTest.java
  src/test/java/it/gov/pagopa/bizeventsservice/util/UtilTest.java
Labels: size/large, patch

#78 chore: Creazione dashboard opex
  .github/workflows/code_review.yml
  .github/workflows/create_dashboard.yaml
  .github/workflows/deploy_with_github_runner.yml
  .github/workflows/integration_test.yml
  .identity/00_data.tf
  .identity/03_github_environment.tf
  .opex/biz-service/env/prod/backend.ini
  .opex/biz-service/env/prod/backend.tfvars
  .opex/biz-service/env/prod/config.yaml
  .opex/biz-service/env/prod/terraform.tfvars
Labels: size/small, skip

#80 bug: [PAGOPA-1947] - transaction detail error
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  openapi/openapi.json
  openapi/openapi_ec.json
  openapi/openapi_helpdesk.json
  openapi/openapi_io.json
  openapi/openapi_io_patch.json
  pom.xml
  src/main/java/it/gov/pagopa/bizeventsservice/model/response/transaction/CartItem.java
Labels: size/small, patch

#82 chore: Biz ingestion report
  .github/workflows/report_ingestion.yml
  .gitignore
  .identity/00_data.tf
  .identity/03_github_environment.tf
  report/run.sh
  report/src/README.md
  report/src/config/.env.local
  report/src/package.json
  report/src/utils/report.js
  report/src/utils/utils.js
Labels: skip
